@font-face {
	font-family: "Dimbo";
	src: url("/fonts/dimbo/Dimbo_Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* Optionale Anwendung auf den Body */
body {
	font-family: "Dimbo", sans-serif;
}
